<div class="col-xs-12">
<h1>BLOGGY TIME!!! </h1>
<p>Getting cheese? Check out our bloggies: </p>

<div class="well">
<%= link_to 'Be bloggy! Stay bloggy!', blogs_path, class: 'btn btn-lg btn-danger' %>
</div>
</div>
